.page-header {
	background-color: #9caa98;
	padding: 32px 0;
}
.page-header-container {
	display: flex;
	align-items: center;
}
.page-nav {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 131px;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-item:not(:last-child) {
	margin-right: 30px;
}
.menu-link,
.contact-phone {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33; /* 16/12 */
	letter-spacing: 0.1em;
	color: var(--white-color);
}
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}
.contact-phone {
	margin-left: auto;
	margin-right: 43px;
}
.contact-phone:hover,
.contact-phone:focus {
	color: var(--accent-color);
}

.hero-container {
	display: flex;
}
.hero-left {
	display: flex;
	align-items: flex-end;
	width: 100px;
	padding-bottom: 40px;
	padding-left: 27px;
}
.media-list {
	display: flex;
	align-items: center;
}
.media-group {
	transform: rotate(-90deg);
	transform-origin: left top;
}
.media-item:not(:last-child) {
	margin-right: 40px;
}
.hero-right {
	padding-top: 184px;
	padding-bottom: 204px;
	padding-left: 100px;
	flex-grow: 1;
	background-color: #64855b;
}
.hero-title {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18; /* 85/72 */
	letter-spacing: 0.05em;
	color: var(--white-color);
}
.hero-desc {
	max-width: 360px;
}

.about-container {
	display: flex;
	gap: 30px;
}
.about-left,
.about-right {
	flex-basis: calc((100% - 30px) / 2);
}
.about-list {
	display: flex;
	gap: 30px;
}
.about-item {
	flex-basis: calc((100% - 30px) / 2);
}
.about-title {
	max-width: 470px;
}
.about-desc {
	margin-bottom: 20px;
	max-width: 470px;
}
.about-text {
	max-width: 470px;
	margin-bottom: 42px;
}

.services {
	background-color: #64855b;
}
.services-content {
	display: flex;
}
.services-table {
	flex-basis: 50%;
	padding: 30px 21px;
	margin-bottom: 44px;
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.services-table:not(:last-child) {
	margin-right: 30px;
}
.services-name,
.services-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
}
.btn-modal {
	margin: 0 auto;
}

.advantages-container {
	display: flex;
	gap: 30px;
}
.advantages-left,
.advantages-right {
	flex-basis: calc((100% - 30px) / 2);
}
.advantages-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 370px;
	min-height: 133px;
	gap: 30px;
	margin: 0 auto;
}
.advantages-item {
	flex-basis: calc((100% - 30px) / 2);
	width: 170px;
	padding: 20px;
	background-color: var(--section-color);
	text-align: center;
}
.advantages-item:nth-child(2n) {
	transform: translateY(30px);
}
.advantages-cost {
	margin-bottom: 6px;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.35; /* 57/42 */
	letter-spacing: 0.05em;
}
.advantages-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
}
.advantages-title {
	max-width: 430px;
}
.advantages-desc {
	max-width: 500px;
}

.employees {
	background-color: var(--section-color);
}
.employees-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.employees-item {
	flex-basis: calc((100% - 60px) / 3);
}
.employees-content {
	padding-top: 30px;
}
.employees-title {
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.38; /* 25/18 */
	letter-spacing: 0.02em;
}
.employees-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35; /* 19/14 */
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.gallery-item {
	flex-basis: calc((100% - 90px) / 4);
}

.contacts-form {
	display: flex;
	flex-direction: column;
	width: 570px;
}
.field-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.form-field {
	position: relative;
}
.form-label {
	position: absolute;
	top: 50%;
	left: 0;
	pointer-events: none;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--text-form);
	transition: transform 250ms linear;
}
.form-input {
	width: 100%;
	margin: 0;
	padding: 8px 0;
	background-color: transparent;
	border: transparent;
	border-bottom: 1px solid var(--text-form);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
	transform: translateY(-35px);
	color: var(--white-color);
}
.contacts-message {
	display: block;
	height: 76px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--text-form);
	resize: none;
}
.contacts-message::placeholder {
	color: var(--text-form);
}

.contacts {
	background-color: #64855b;
}
.contacts-container {
	display: flex;
}
.contacts-left,
.contacts-right {
	flex-basis: 50%;
}
.contacts-left {
	padding-top: 130px;
	padding-bottom: 183px;
}
.contacts-right {
	padding-top: 130px;
	padding-bottom: 120px;
	padding-left: 100px;
}
.contacts-info {
  max-width: 270px;
  margin-bottom: 70px;
}
.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}
.contacts-link {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
}
.contacts-link.tick {
	font-weight: 700;
}

.footer-page {
	padding: 56px 0;
	background-color: var(--section-color);
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
	letter-spacing: 0.2em;
	color: var(--secondary-text);
}
