/****************** Page Header *********************/
.page-header {
	background-color: #9caa98;
	padding: 32px 0;
}
.page-header-container {
	display: flex;
	align-items: center;
}
.page-nav {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 131px;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-item:not(:last-child) {
	margin-right: 30px;
}
.menu-link,
.contact-phone {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33; /* 16/12 */
	letter-spacing: 0.1em;
	color: var(--white-color);
}
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}
.contact-phone {
	margin-left: auto;
	margin-right: 43px;
}
.contact-phone:hover,
.contact-phone:focus {
	color: var(--accent-color);
}

/****************** Page Hero *********************/
.hero-container {
	display: flex;
}
.hero-left {
	display: flex;
	align-items: flex-end;
	width: 100px;
	padding-bottom: 20px;
	padding-left: 27px;
}
.media-list {
	display: flex;
	align-items: center;
}
.media-list::before {
	display: block;
	width: 60px;
	height: 1px;
	content: "";
	margin-right: 20px;
	background-color: currentColor;
}
.media-group {
	transform: rotate(-90deg);
	transform-origin: left top;
}
.media-item:not(:last-child) {
	margin-right: 40px;
}
.hero-right {
	padding-top: 184px;
	padding-bottom: 204px;
	padding-left: 100px;
	flex-grow: 1;
	background-color: var(--prime-text);
	background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/hero/hero-fon.jpg);
	background-size: cover;
}
.hero-title {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18; /* 85/72 */
	letter-spacing: 0.05em;
	color: var(--white-color);
}
.hero-desc {
	max-width: 360px;
}

/****************** Page About *********************/
.about-container {
	display: flex;
	gap: 30px;
}
.about-left,
.about-right {
	flex-basis: calc((100% - 30px) / 2);
}
.about-list {
	display: flex;
	gap: 30px;
}
.about-item {
	flex-basis: calc((100% - 30px) / 2);
}
.about-title {
	max-width: 470px;
}
.about-desc {
	margin-bottom: 20px;
	max-width: 470px;
}
.about-text {
	max-width: 470px;
	margin-bottom: 42px;
}

/****************** Page Services *********************/
.services {
	background-image: url(../image/services/services-fon.png);
	background-size: cover;
	background-color: #111319;
}
.services-content {
	display: flex;
}
.services-table {
	flex-basis: 50%;
	padding: 30px 21px;
	margin-bottom: 44px;
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.services-table:not(:last-child) {
	margin-right: 30px;
}
.services-name,
.services-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
}
.btn-modal {
	margin: 0 auto;
}

/****************** Page Advantages *********************/
.advantages-container {
	display: flex;
	gap: 30px;
}
.advantages-left,
.advantages-right {
	flex-basis: calc((100% - 30px) / 2);
}
.advantages-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 370px;
	min-height: 133px;
	gap: 30px;
	margin: 0 auto;
}
.advantages-item {
	flex-basis: calc((100% - 30px) / 2);
	width: 170px;
	padding: 20px;
	background-color: var(--section-color);
	text-align: center;
}
.advantages-item:nth-child(2n) {
	transform: translateY(30px);
}
.advantages-cost {
	/* position: relative;
	width: min-content;
	margin-left: auto;
	margin-right: auto; */
	margin-bottom: 6px;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.35; /* 57/42 */
	letter-spacing: 0.05em;
}
/* .advantages-cost::before {
	position: absolute;
	display: block;
	color: var(--accent-color);
	top: 7px;
	right: -10px;
	content: "+";
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
} */
.advantages-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
}
.advantages-title {
	max-width: 430px;
}
.advantages-desc {
	max-width: 500px;
}

/****************** Page Employees *********************/
.employees {
	background-color: var(--section-color);
}
.employees-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.employees-item {
	flex-basis: calc((100% - 60px) / 3);
}
.employees-content {
	padding-top: 30px;
}
.employees-title {
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.38; /* 25/18 */
	letter-spacing: 0.02em;
}
.employees-text {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35; /* 19/14 */
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.social-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--white-color);
}
.social-link:hover,
.social-link:focus {
	fill: var(--accent-color);
	background-color: var(--main-text);
}
.social-icon {
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	fill: var(--main-text);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--accent-color);
	transform: rotate(360deg);
}

/****************** Page Gallery *********************/
.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.gallery-item {
	flex-basis: calc((100% - 90px) / 4);
}

/****************** Page Contacts *********************/
.contacts-form {
	display: flex;
	flex-direction: column;
	width: 570px;
}
.field-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.form-field {
	position: relative;
}
.form-label {
	position: absolute;
	top: 50%;
	left: 0;
	pointer-events: none;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--text-form);
	transition: transform 250ms linear;
}
.form-input {
	width: 100%;
	margin: 0;
	padding: 8px 0;
	background-color: transparent;
	border: transparent;
	border-bottom: 1px solid var(--text-form);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
	transform: translateY(-35px);
	color: var(--white-color);
}
.contacts-message {
	display: block;
	height: 76px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--text-form);
	resize: none;
}
.contacts-message::placeholder {
	color: var(--text-form);
}

.contacts {
	background-image: url(../image/contacts/contacts-fon.png);
	background-size: cover;
	background-color: #191c26;
}
.contacts-container {
	display: flex;
}
.contacts-left,
.contacts-right {
	flex-basis: 50%;
}
.contacts-left {
	padding-top: 130px;
	padding-bottom: 183px;
}
.contacts-right {
	padding-top: 130px;
	padding-bottom: 120px;
	padding-left: 100px;
}
.contacts-info {
	max-width: 270px;
	margin-bottom: 70px;
}
.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}
.contacts-link {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
	transition: color 250ms linear;
}
.contacts-link.tick {
	font-weight: 700;
}
.contacts-icon {
	flex-shrink: 0;
	margin-right: 16px;
	stroke: var(--secondary-text);
	transition: stroke 250ms linear;
}
.extra {
	align-self: baseline;
	margin-top: 5px;
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
	stroke: var(--accent-color);
}

/****************** Page Footer *********************/
.footer-page {
	padding: 56px 0;
	background-color: var(--section-color);
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36; /* 15/11 */
	letter-spacing: 0.2em;
	color: var(--secondary-text);
}
