:root {
	--title-font: "Raleway", sans-serif;
	--text-font: "Open Sans", sans-serif;
	--white-color: #ffffff;
	--main-text: #303030;
	--prime-text: #555555;
	--secondary-text: #9da4bd;
	--accent-color: #ff6c00;
	--section-color: #f7f7f7;
	--sup-text: rgba(157, 164, 189, 0.6);
	--text-form: rgba(157, 164, 189, 0.4);
}

body {
	background-color: var(--white-color);
	font-family: var(--text-font);
	color: var(--main-text);
}

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.them-dark {
	color: var(--sup-text);
}
.them-light {
	color: var(--secondary-text);
}
.this-light {
	color: var(--white-color);
}
.to-light {
	color: var(--prime-text);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-header {
	background-color: #9caa98;
}
.menu-link,
.contact-phone {
	font-weight: 600;
	font-size: 12px;
	line-height: 133.333333%; /* 16/12 */
	letter-spacing: 0.1em;
	color: var(--white-color);
}
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus {
	color: var(--accent-color);
}

.btn {
	font-family: var(--text-font);
	font-weight: 600;
	font-size: 12px;
	line-height: 133.333333%; /* 16/12 */
	letter-spacing: 0.09em;
	width: 160px;
	height: 40px;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	text-transform: uppercase;
	background-color: transparent;
	color: var(--white-color);
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	background-color: var(--accent-color);
}
.btn.primary {
	color: var(--main-text);
}
.btn.primary:hover,
.btn.primary:focus {
	color: var(--white-color);
}
.hero {
	background-color: #64855b;
}
.media-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 136.363636%; /* 15/11 */
	letter-spacing: 0.2em;
	color: var(--main-text);
}
.media-link:hover,
.media-link:focus {
	color: var(--accent-color);
}
.suptitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 136.363636%; /* 15/11 */
	text-transform: uppercase;
}

.hero-title {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 118.055556%; /* 85/72 */
	letter-spacing: 0.05em;
	color: var(--white-color);
}
.section-desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 166.666667%; /* 30/18 */
	letter-spacing: 0.02em;
}
.section-desc.post {
	font-size: 14px;
	line-height: 185.714286%; /* 26/14 */
	color: var(--prime-text);
}
.section-title {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 42px;
	line-height: 116.666667%; /* 49/42 */
	letter-spacing: 0.05em;
}
#services {
	background-color: #64855b;
}
.services-name,
.services-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 166.666667%; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
}
.advantages-cost {
	font-weight: 700;
	font-size: 42px;
	line-height: 135.714286%; /* 57/42 */
	letter-spacing: 0.05em;
}
.advantages-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 136.363636%; /* 15/11 */
}
#employees {
	background-color: var(--section-color);
}
.employees-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 138.888889%; /* 25/18 */
	letter-spacing: 0.02em;
}
.employees-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 135.714286%; /* 19/14 */
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.contacts-form {
	display: flex;
	flex-direction: column;
	width: 570px;
}
.field-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.form-field {
	position: relative;
}
.form-label {
	position: absolute;
	top: 50%;
	left: 0;
	pointer-events: none;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 11px;
	line-height: 136.363636%; /* 15/11 */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--text-form);
	transition: transform 250ms linear;
}
.form-input {
	width: 100%;
	margin: 0;
	padding: 8px 0;
	background-color: transparent;
	border: transparent;
	border-bottom: 1px solid var(--text-form);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
	transform: translateY(-35px);
	color: var(--white-color);
}
.contacts-message {
	display: block;
	height: 76px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--text-form);
	resize: none;
}
.contacts-message::placeholder {
	color: var(--text-form);
}

#contacts {
	background-color: #64855b;
}
.contacts-link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 166.666667%; /* 30/18 */
	letter-spacing: 0.02em;
	color: var(--secondary-text);
}
.contacts-link.tick {
	font-weight: 700;
}
.footer-page {
	background-color: var(--section-color);
}
.copy {
	font-weight: 600;
	font-size: 11px;
	line-height: 136.363636%; /* 15/11 */
	letter-spacing: 0.2em;
	color: var(--secondary-text);
}
